body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #444;
}
 
/*
 * Create dark grey header with a white logo
 */
  
header {
 /* background-color: #2B2B2B; */
  background-color: #2B2B2B;
  height: 35px;
  width: 100%;
  opacity: .9;
  margin-bottom: 10px;
}
 
header h1.logo {
  margin: 0;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  float: left;
  font-size: 22pt;
}
 
header h1.logo:hover {
  color: #fff;
  text-decoration: none;

}
 
/*
 * Center the body content
 */
  
.container {
  width: 940px;
  margin: 0 auto;
}
/* 
div.jumbo {
  padding: 10px 0 30px 0;
  background-color: #eeeeee;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}
 */
h2 {
  font-size: 3em;
  margin-top: 40px;
  text-align: center;
  letter-spacing: -2px;
  color: #2B2B2B;
}
 
h3 {
  font-size: 1.7em;
  font-weight: 100;
  margin-top: 30px;
  text-align: center;
  letter-spacing: -1px;
  color: #2B2B2B;
}

body p {
  color: #2B2B2B;
  font-size: 0.8em;
}

/*
 * Display navigation links inline
 */
 
.menu {
  float: right;
  margin-top: 8px;
}
 
.menu li {
  display: inline;
}
 
.menu li + li {
  margin-left: 35px;
}
 
.menu li a {
  color: #FFFFFF;
  text-decoration: none;
}

/*
 * Image For Logo Bar
 */

div.headicons {
  float: left;
  

}

 img.fb {
  padding-left: 2px;
  
 }

 img.mail {
  padding-left: 2px;
 }

 img.twitter {
  padding-left: 2px;
 }

 img.youtube {
  padding-left: 2px;
 }

 div.footbox {
  
  padding: 5px;
  margin-top: 10%;
  margin-left: 25%;
  width: 50%;
  height: 25%;
  background-color: rgba(43, 43, 43, 0.1);
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  /* border:1px solid black; */
  /*opacity:0.1;
  filter:alpha(opacity=60); /* For IE8 and earlier */
  
 }

 p.textfoot {
  color: #2B2B2B;
  opacity: 100.0;
  font-size: 8pt;

 }

 .meter { 
  height: 20px;  /* Can be anything */
  width: 20%;
  margin-right: 40%;
  margin-left: 40%;
  position: absolute;
  background: #555;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  padding: 10px;
  -webkit-box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
  -moz-box-shadow   : inset 0 -1px 1px rgba(255,255,255,0.3);
  box-shadow        : inset 0 -1px 1px rgba(255,255,255,0.3);
}

.cpudiv {
    width: 20%;
    margin-right: 40%;
    margin-left: 40%;
    text-align: center;

}

.cpudiv div {
    font-size: 1.5em;
    font-weight: bold;
    letter-spacing: -1px;
    color: #2B2B2B;
}

.cpudiv span {
  font-size: 1.2em;
  letter-spacing: -1px;
  color: #2B2B2B;

}


#barwidth {
  
  height: 100%;
     -webkit-border-top-right-radius: 8px;
  -webkit-border-bottom-right-radius: 8px;
         -moz-border-radius-topright: 8px;
      -moz-border-radius-bottomright: 8px;
             border-top-right-radius: 8px;
          border-bottom-right-radius: 8px;
      -webkit-border-top-left-radius: 20px;
   -webkit-border-bottom-left-radius: 20px;
          -moz-border-radius-topleft: 20px;
       -moz-border-radius-bottomleft: 20px;
              border-top-left-radius: 20px;
           border-bottom-left-radius: 20px;
  background-color: rgb(43,194,83);
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, rgb(43,194,83)),
    color-stop(1, rgb(84,240,84))
   );
  background-image: -webkit-linear-gradient(
    center bottom,
    rgb(43,194,83) 37%,
    rgb(84,240,84) 69%
   );
  background-image: -moz-linear-gradient(
    center bottom,
    rgb(43,194,83) 37%,
    rgb(84,240,84) 69%
   );
  background-image: -ms-linear-gradient(
    center bottom,
    rgb(43,194,83) 37%,
    rgb(84,240,84) 69%
   );
  background-image: -o-linear-gradient(
    center bottom,
    rgb(43,194,83) 37%,
    rgb(84,240,84) 69%
   );
  -webkit-box-shadow: 
    inset 0 2px 9px  rgba(255,255,255,0.3),
    inset 0 -2px 6px rgba(0,0,0,0.4);
  -moz-box-shadow: 
    inset 0 2px 9px  rgba(255,255,255,0.3),
    inset 0 -2px 6px rgba(0,0,0,0.4);
  position: relative;
  overflow: hidden;

}